[Unit]
Description=Run Trace every day at 02:10 China Standard Time

[Timer]
OnCalendar=*-*-* 02:10:00 Asia/Shanghai
Persistent=true
RandomizedDelaySec=5m
AccuracySec=1m
Unit=trace.service

[Install]
WantedBy=timers.target
